* {
    font-weight:100;
    font-family: sans-serif;
    font-size: 40px;
}

body{
background-color: darkblue;
}

.contenedor{
    text-align: center;
}

.link-1{
    text-decoration: none;
    color: #71ceeb;
    font-size: 25px;
    margin: 2px;
    padding-right: 5px;
    text-shadow: 0px 0px 3px #71ceeb;
}

.link-1:hover{
    text-decoration: none;
    color: skyblue;
    font-size: 25px;
    margin: 2px;
    padding-right: 5px;
    transition: 1s;
    text-shadow: 0 0 3px #71ceeb, 0 0 8px #71ceeb;
}

ul li{
    display: inline-block;
}

.textoxD{
    color: #71ceeb;
    font-size: 18px;
}