* {
    font-weight:100;
    font-family: sans-serif;
    font-size: 40px;
}

/*Base de la Web*/

body{
    background: linear-gradient(#0c1438,#000000);
}

.contenedor{
    text-align: center;
}

ul li{
    display: inline-block;
}

.Menu{
    color: #71ceeb;
    font-size: 27px;
    text-shadow: 0px 0px 3px #71ceeb;
    text-decoration-color: #ffffff;
    text-decoration-line: underline;
    margin: auto;
}


.Menu:hover{
    text-decoration: none;
    color: skyblue;
    font-size: 27px;
    transition: 0.5s;
    text-shadow: 0 0 3px #71ceeb, 0 0 8px #71ceeb;
    text-decoration-line: underline;
    text-decoration-color: #ffffff;
    margin: auto;
}


/*Introduccion*/


.Introduccion{
    color: #ffff;
    font-size: 28px;
    padding: 58px;
}

/*Secciones de videojuegos*/

.Seccion-1{
    background: darkblue;
    width: 428px;
    height: 278px;
    margin: 58px;
    border: solid;
    border-color: blue;
    border-width: 8px;
    box-shadow: 15px 15px 3px #d05edf,15px 15px 38px #d05edf;
    float: left;
}

.Detalles{
    padding: 38px;
    display: block;
    float: left;
    font-size: 28px;
    color: #bf9626;
    text-shadow: 0px 0px 3px #bf9626, 0px 0px 10px #bf9626,0px 0px 20px #bf9626;
}

/*Acerca*/

.Texto2{
    color: #ffffff;
    font-size: 28px;
    padding: 20px;
    margin: 20px;
}

.Canal{
    color: #3a27e6;
    font-size: 28px;
    text-decoration: none;
}

.CanalGaming{
    color: #e85a5a;
    font-size: 28px;
    text-decoration: none;

}

.Acerca{
    color: #ffffff;
    font-size: 38px;
    padding: 25px;
    margin: 2px;
    text-shadow: 1px 1px 5px #ffffff;
    font-family: "Arial Black";
}